\_log.txt
\*.mdb

.idea/
.DS_Store
._DS_Store
._*
.project
yarn.lock
npm-debug.log
\._node_modules
cache
package-lock.json
.vscode/
node_modules/
app/
dist/
HTML/node_modules/
HTML/app/
HTML/dist/
PHP/API/api/log.txt
